<div class="weapon-sheet-description-tab">
  {{! Sidebar }}
  <div class="item-sidebar attacks-sidebar">
    <div class="attacks-header">
      <h2 class="attacks-label">{{localize "TITAN.attacks.label"}}</h2>
    </div>

    {{! Scrolling }}
    <div class="scrolling attacks-list">
      {{! For each attack }}
      {{#each system.attack as |attack key|}}
      {{> "systems/titan/templates/item/weapon/components/weapon-sheet-attack-sheet-vertical.hbs"
      attack=attack
      key=key
      attackTypeOptions=../attackTypeOptions
      rangedRangeOptions=../rangedRangeOptions
      meleeRangeOptions=../meleeRangeOptions
      attributeOptions=../attributeOptions
      skillOptions=../skillOptions
      tab="description"
      isExpanded=../isExpanded
      }}
      {{/each}}
      {{! Adding a new attack }}
      <div class="add-attack-button">
        <a class="fas fa-plus-circle add-attack"></a>
      </div>
    </div>
  </div>

  <div class="item-main">
    <div class="weapon-description">
      <h2>{{localize "TITAN.weapon.description.label"}}</h2>
      <div class="editor">
        {{editor
        system.description
        target="system.description"
        rollData=rollData
        button=true
        owner=owner
        editable=editable
        }}
      </div>
    </div>

    <div class="attack-description">
      <h2>{{localize "TITAN.attack.description.label"}}</h2>
      <div class="editor">
        {{editor
        system.attackDescription
        target="system.attackDescription"
        rollData=rollData
        button=true
        owner=owner
        editable=editable
        }}
      </div>
    </div>
  </div>
</div>