<div class="weapon-description-tab">
  {{! Sidebar }}
  <div class="attack-details">
    <div class="attacks-header">
      <h2 class="attacks-name">{{localize "TITAN.attacks.label"}}</h2>
    </div>

    {{! Scrolling }}
    <div class="max-height-25 scrolling weapon-details-content">
      {{! Weapon attacks }}
      <div class="attacks">
        {{! For each attack }}
        {{#each system.attack as |attack key|}}
        {{> "systems/titan/templates/item/weapon/components/weapon-attack-sheet-vertical.hbs"
        attack=attack
        key=key
        attackTypeOptions=../attackTypeOptions
        rangedRangeOptions=../rangedRangeOptions
        meleeRangeOptions=../meleeRangeOptions
        attributeOptions=../attributeOptions
        skillOptions=../skillOptions
        tab="description"
        isExpanded=../isExpanded
        }}
        {{/each}}
        {{! Adding a new attack }}
        <div class="add-attack-button">
          <a class="fas fa-plus-circle add-attack"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="scrolling weapon-editors">
    <div class="weapon-description">
      <h2>{{localize "TITAN.weapon.description.label"}}</h2>
      <div class="editor">
        {{editor
        system.description
        target="system.description"
        rollData=rollData
        button=true
        owner=owner
        editable=editable
        }}
      </div>
    </div>

    <div class="attack-description">
      <h2>{{localize "TITAN.attack.description.label"}}</h2>
      <div class="editor">
        {{editor
        system.attackDescription
        target="system.attackDescription"
        rollData=rollData
        button=true
        owner=owner
        editable=editable
        }}
      </div>
    </div>
  </div>

</div>