<div class="titan damage-report titan-chat-message">
  <p>
    {{localize "TITAN.damage.taken.label"}}: {{damage}}
  </p>
  <p>
    {{localize "TITAN.resource.option.stamina.remaining.label"}}: {{stamina.value}} / {{stamina.maxValue}}</p>
  </p>
  <p>
    {{localize "TITAN.resource.option.wounds.taken.label"}}: {{wounds.value}} / {{wounds.maxValue}}
  </p>
</div>