{{! Action Tab }}
<div class="grid grid-3col actor-actions-tab">
  {{! Weapons }}
  <div>
    {{! Weapons Header }}
    <div class="action-list-header">
      <div class="action-category-name">{{localize "TITAN.weapons.label"}}</div>
    </div>
    <ol class="action-list list list-1col">
      {{! For each weapon }}
      {{#each weapon as |weapon key|}}
        <li class="action expandable-parent" data-action-id={{weapon._id}} data-expandable-id={{concat 'action'
          weapon._id}}>
          {{! Expandable Header }}
          <div class="action-header">

            {{! Label }}
            <a class="action-label expand">
              <img class="action-image" src="{{weapon.img}}" />
              <span class="action-name">{{weapon.name}}</span>
            </a>

            {{! Controls}}
            <div class="action-controls">
              <a class="fas fa-edit action-edit"></a>
              <a class="fas fa-trash action-delete"></a>
            </div>
          </div>

          {{! Weapon Actions }}
          <div class="weapon-actions">
            <a class="weapon-action weapon-attack">{{localize "TITAN.attack.label"}}</a>
          </div>

          {{! Expandable Content }}
          <div class="action-details expandable-content {{#unless (lookup ../isExpanded (concat 'action' weapon._id))}}
            collapsed{{/unless}}">
            {{! Description }}
            <div class="description">
              {{{weapon.system.attackDescription}}}
            </div>
            {{! Footer }}
            <div class="action-footer">
            </div>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
</div>