<ol class="skills-list">
{{#each data.skills as |skill key|}}
  <li class="skill flex-group-center">
    <label
      for="data.skills.{{key}}"
      class="stat-label rollable"
      data-roll="(@skills.{{key}}.training.value + @attributes.{{skill.defaultAttribute}}.value)d6"
      data-roll-type="skill"
      data-roll-label={{localize (concat "TITAN.Skills." key)}}
    >{{localize (concat "TITAN.Skills." key)}}</label>
    <div class="stat-content flexrow flex-center flex-between">
      <input
        class="skill-edit"
        type="text"
        name="data.skills.{{key}}.training.baseValue"
        value="{{skill.training.value}}"
        data-dtype="Number"
      />
    </div>
  </li>
{{/each}}
</ol>