{{! Item Tab }}
<div>
  {{! Weapons }}
  <div>
    <ol class="items-list list list-4col">
      {{! For each weapon }}
      {{#each weapon as |weapon key|}}
      <li class="item expandable-parent">
        {{! Expandable Header }}
        <a class="item-header expand" data-id={{weapon._id}}>
          {{weapon.name}}
          {{log weapon}}
          {{localize weapon.system.value}}
        </a>

        {{! Expandable Content }}
        <div class="item-details expandable-content{{#unless (lookup ../isExpanded weapon._id)}} collapsed{{/unless}}">
          {{{weapon.system.description}}}
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</div>