{{! Skills Tab }}
<div>
  {{! Attributes}}
  <div class="attribute-panel grid grid-3col">

    {{! For each attribute }}
    {{#each data.attribute as |attribute key|}}

      {{! Rollable Label}}
      <div class="attribute flex-group-center border">
        <label
          for="data.attribute.{{key}}.value"
          class="stat-label rollable basic-check"
          data-attribute={{key}}
          data-skill="none"
          data-get-options="default"
        >
          {{localize (concat "TITAN.attribute." key)}}
        </label>
        {{! Value Box }}
        <div class="stat-content flexrow flex-group-center flex-between">
          <input
            class="attribute-edit"
            type="text"
            name="data.attribute.{{key}}.baseValue"
            value="{{attribute.baseValue}}"
            data-dtype="Number"
          />
        </div>
      </div>
    {{/each}}
  </div>

  {{! Skills List }}
  <ol class="skill-list list list-4col">
    {{! For each skill}}
    {{#each data.skill as |skill key|}}

      {{! Rollable label}}
      <li class="skill flex-group-center list-item border">
        <label
          for="data.skill.{{key}}"
          class="stat-label rollable basic-check"
          data-attribute="default"
          data-skill={{key}}
          data-get-options="default"
        >{{localize (concat "TITAN.skill." key)}}</label>

        {{! Labels }}
        <div class="stat-content flexrow flex-group-center flex-between">
          <label
            for="data.skill.{{key}}.training.value"
            class="stat-label"
          >{{localize "TITAN.training"}}</label>
          <label for="data.skill.{{key}}" class="stat-label"></label>
          <label
            for="data.skill.{{key}}.expertise.value"
            class="stat-label"
          >{{localize "TITAN.expertise"}}</label>
        </div>

        {{! Training value edit }}
        <div class="stat-content flexrow flex-group-center flex-between">
          <input
            class="skill-edit expertise-edit"
            type="text"
            name="data.skill.{{key}}.training.baseValue"
            value="{{skill.training.value}}"
            data-skill={{key}}
            data-skill-type="training"
            data-dtype="Number"
          />
          <span> </span>
          {{! Expertise value edit }}
          <input
            class="skill-edit expertise-edit"
            type="text"
            name="data.skill.{{key}}.expertise.baseValue"
            value="{{skill.expertise.value}}"
            data-skill={{key}}
            data-skill-type="expertise"
            data-dtype="Number"
          />
        </div>
      </li>
    {{/each}}
  </ol>
</div>