{{! Item Tab }}
<div class="grid grid-3col actor-items-tab">
  {{! Weapons }}
  <div>
    {{! Weapons Header }}
    <div class="item-list-header">
      <div></div>
      {{localize "TITAN.weapons.label"}}
      <a class="fas fa-circle-plus item-create" data-type="weapon"></a>
    </div>
    <ol class="item-list list list-1col">
      {{! For each weapon }}
      {{#each weapon as |weapon key|}}
      <li class="item expandable-parent" data-item-id={{weapon._id}} data-expandable-id={{weapon._id}}>
        {{! Expandable Header }}
        <div class="item-header">

          {{! Label }}
          <a class="item-label expand">
            <img class="item-image" src="{{weapon.img}}" />
            <span class="item-name">{{weapon.name}}</span>
          </a>

          {{! Controls}}
          <div>
            <a class="fas fa-edit item-edit"></a>
            <a class="fas fa-trash item-delete"></a>
          </div>
        </div>

        {{! Expandable Content }}
        <div class="item-details expandable-content{{#unless (lookup ../isExpanded weapon._id)}} collapsed{{/unless}}">
          {{! Description }}
          {{{weapon.system.description}}}
          {{{weapon.system.attackDescription}}}

          {{! Footer }}
          <div class="item-footer">
            <span class="item-rarity">{{localize (concat "TITAN.item.rarity.option."
              weapon.system.rarity
              ".label")}}</span>
            <span class="item-value">{{localize "TITAN.item.value.label"}}: {{localize weapon.system.value}}</span>
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</div>