{{! Item Tab }}
<div class="grid grid-4col">
  {{! Weapons }}
  <ol class="item-list list list-1col">
    {{! For each weapon }}
    {{#each weapon as |weapon key|}}
    <li class="item expandable-parent" data-item-id={{weapon._id}}>
      {{! Expandable Header }}
      <div class="item-header">

        {{! Label }}
        <a class="item-label expand" data-id={{weapon._id}}>
          <img class="item-image" src="{{weapon.img}}" data-id={{weapon._id}} />
          <span class="item-name" data-id={{weapon._id}}>{{weapon.name}}</span>
        </a>

        {{! Controls}}
        <div>
          <a class="fas fa-edit item-edit" data-id={{weapon._id}}></a>
          <a class="fas fa-trash item-delete" data-id={{weapon._id}}></a>
        </div>
      </div>

      {{! Expandable Content }}
      <div class="item-details expandable-content{{#unless (lookup ../isExpanded weapon._id)}} collapsed{{/unless}}">
        {{! Description }}
        {{{weapon.system.description}}}
        {{{weapon.system.attackDescription}}}

        {{! Footer }}
        <div class="item-footer">
          <span class="item-rarity">{{localize (concat "TITAN.item.rarity.option."
            weapon.system.rarity
            ".label")}}</span>
          <span class="item-value">{{localize "TITAN.item.value.label"}}: {{localize weapon.system.value}}</span>
        </div>
      </div>
    </li>
    {{/each}}
  </ol>
</div>