{{! Item Tab }}
<div class="actor-sheet-inventory-tab">
  {{! Weapons }}
  <div>
    {{! Weapons Header }}
    <div class="item-list-header">
      <div></div>
      <div class="item-category-name">{{localize "TITAN.weapons.label"}}</div>
      <a class="fas fa-circle-plus item-create" data-type="weapon"></a>
    </div>
    <ol class="item-list list column-1">
      {{! For each weapon }}
      {{#each weapon as |weapon key|}}
      <li class="item expandable-parent" data-item-id={{weapon._id}} data-expandable-id={{concat 'inventory'
        weapon._id}}>
        {{! Expandable Header }}
        <div class="item-header">

          {{! Label }}
          <a class="item-label send-item-to-chat">
            <img class="item-image" src="{{weapon.img}}" />
            <span class="item-name">{{weapon.name}}</span>
          </a>

          {{! Controls}}
          <div class="item-controls">

            {{! Expand }}
            <a class="fas fa-angles-down expand"></a>

            {{! Edit }}
            <a class="fas fa-edit item-edit"></a>

            {{! Delete }}
            <a class="fas fa-trash item-delete"></a>
          </div>
        </div>

        {{! Expandable Content }}
        <div class="item-details expandable-content {{#unless (lookup ../isExpanded (concat 'inventory' weapon._id))}}
          collapsed{{/unless}}">
          {{! Description }}
          {{{weapon.system.description}}}
          {{{weapon.system.attackDescription}}}

          {{! Footer }}
          <div class="item-footer">
            <span class="item-rarity">{{localize (concat "TITAN.item.rarity.option."
              weapon.system.rarity
              ".label")}}</span>
            <span class="item-value">{{localize "TITAN.item.value.label"}}: {{localize weapon.system.value}}</span>
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>

  {{! Armor }}
  <div>
    {{! Armor Header }}
    <div class="item-list-header">
      <div></div>
      <div class="item-category-name">{{localize "TITAN.armor.label"}}</div>
      <a class="fas fa-circle-plus item-create" data-type="armor"></a>
    </div>
    <ol class="item-list list column-1">
      {{! For each armor }}
      {{#each armor as |armor key|}}
      <li class="item expandable-parent" data-item-id={{armor._id}} data-expandable-id={{concat 'inventory' armor._id}}>
        {{! Expandable Header }}
        <div class="item-header">

          {{! Label }}
          <a class="item-label send-item-to-chat">
            <img class="item-image" src="{{armor.img}}" />
            <span class="item-name">{{armor.name}}</span>
          </a>

          {{! Controls}}
          <div class="item-controls">

            {{! Equip }}
            {{! Un Equip Armor }}
            {{#if (equals ../this.system.equipped.armor armor._id)}}
            <a class="labeled-control un-equip-armor">
              <div class="item-controls-label">
                {{localize "TITAN.unEquip.label"}}
              </div>
              <div class="fas fa-toggle-on"></div>
            </a>
            {{else}}
            <a class="labeled-control equip-armor">
              <div class="item-controls-label">
                {{localize "TITAN.equip.label"}}
              </div>
              <div class="fas fa-toggle-off"></div>
            </a>
            {{/if}}

            {{! Expand }}
            <a class="fas fa-angles-down expand"></a>

            {{! Edit }}
            <a class="fas fa-edit item-edit"></a>

            {{! Delete }}
            <a class="fas fa-trash item-delete"></a>
          </div>
        </div>

        {{! Expandable Content }}
        <div class="item-details expandable-content {{#unless (lookup ../isExpanded (concat 'inventory' armor._id))}}
          collapsed{{/unless}}">
          {{! Description }}
          {{{armor.system.description}}}
          {{{armor.system.attackDescription}}}

          {{! Footer }}
          <div class="item-footer">
            <span class="item-rarity">{{localize (concat "TITAN.item.rarity.option."
              armor.system.rarity
              ".label")}}</span>
            <span class="item-value">{{localize "TITAN.item.value.label"}}: {{localize armor.system.value}}</span>
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</div>