<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">

    {{!-- Profile --}}
    <div class="profile">

      {{!-- Image --}}
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="160" width="160" />
    </div>

    {{!-- Header Fields --}}
    <div class="header-fields">
      <div class="grid grid-3col">
        <div class="flex-group-left">
          <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
        </div>

        {{!-- Inspiration --}}
        <div class="inspiration flex-group-center border">
          <label for="system.inspiration" class="stat-label">
            {{localize "TITAN.inspiration.label"}}
          </label>
          <div class="stat-content flexrow flex-group-center flex-between">
            <input type="number" name="system.inspiration" value="{{system.inspiration}}" data-dtype="Number" />
          </div>
        </div>

        {{!-- Exp --}}
        <div class="flex-group-center border">
          <label for="system.exp" class="stat-label">{{localize "TITAN.exp.label"}}</label>
          <div class="stat-content flexrow flex-group-center flex-between">
            <label for="system.exp.available" class="stat-label">{{localize "TITAN.available.label"}}</label>
            <label for="system.exp.available" class="stat-label"> </label>
            <label for="system.exp.available" class="stat-label">{{localize "TITAN.earned.label"}}</label>
          </div>
          <div class="stat-content flexrow flex-group-center flex-between">
            <span>{{numberFormat system.exp.available decimals=0}}</span>
            <span> / </span>
            <input type="text" name="system.exp.earned" value="{{system.exp.earned}}" data-dtype="Number" />
          </div>
        </div>
      </div>

      {{!-- Derived Stats --}}
      <div class="derived grid grid-8col">
        {{#each system.resistance as |resistance key|}}
        <div class="resistance flex-group-center border">
          <label for="system.resistance.{{key}}.value" class="stat-label rollable resistance-check"
            data-resistance={{key}}>
            {{localize (concat "TITAN.resistance.option." key ".label")}}
          </label>
          <div class="stat-content flexrow flex-group-center flex-between">
            <span>{{numberFormat resistance.value decimals=0}}</span>
          </div>
        </div>
        {{/each}}

        {{!-- Initiative --}}
        <div class="derived flex-group-center border">
          <label for="system.initiative.value" class="stat-label rollable initiative-roll">{{localize
            "TITAN.initiative.label"}}</label>
          <div class="stat-content flexrow flex-group-center flex-between">
            <span>{{numberFormat system.initiative.value decimals=0}}</span>
          </div>
        </div>

        {{!-- Awareness --}}
        <div class="derived flex-group-center border">
          <label for="system.attackStats.awareness.value" class="stat-label">{{localize
            "TITAN.attackStats.awareness.label"}}</label>
          <div class="stat-content flexrow flex-group-center flex-between">
            <span>{{numberFormat system.attackStats.awareness.value decimals=0}}</span>
          </div>
        </div>

        {{!-- Defense --}}
        <div class="derived flex-group-center border">
          <label for="system.attackStats.defense.value" class="stat-label">{{localize
            "TITAN.attackStats.defense.label"}}</label>
          <div class="stat-content flexrow flex-group-center flex-between">
            <span>{{numberFormat system.attackStats.defense.value decimals=0}}</span>
          </div>
        </div>

        {{!-- Melee --}}
        <div class="derived flex-group-center border">
          <label for="system.attackStats.melee.value" class="stat-label">{{localize
            "TITAN.attackStats.melee.label"}}</label>
          <div class="stat-content flexrow flex-group-center flex-between">
            <span>{{numberFormat system.attackStats.melee.value decimals=0}}</span>
          </div>
        </div>

        {{!-- Accuracy --}}
        <div class="derived flex-group-center border">
          <label for="system.attackStats.accuracy.value" class="stat-label">{{localize
            "TITAN.attackStats.accuracy.label"}}</label>
          <div class="stat-content flexrow flex-group-center flex-between">
            <span>{{numberFormat system.attackStats.accuracy.value decimals=0}}</span>
          </div>
        </div>
      </div>

      {{!-- Resources --}}
      <div class="resources grid grid-3col">

        {{!-- Stamina --}}
        <div class="resource flex-group-center border">
          <label for="system.resources.stamina.value" class="stat-label">{{localize
            "TITAN.resource.option.stamina.label"}}</label>
          <div class="stat-content flexrow flex-group-center flex-between">
            <input class="resource-edit" data-resource="stamina" type="text" name="system.resources.stamina.value"
              value="{{system.resources.stamina.value}}" data-dtype="Number" />
            <span> / </span>
            <span>{{numberFormat system.resources.stamina.maxValue decimals=0}}</span>
          </div>
        </div>

        {{!-- Resolve --}}
        <div class="resource flex-group-center border">
          <label for="system.resources.resolve.value" class="stat-label">{{localize
            "TITAN.resource.option.resolve.label"}}</label>
          <div class="stat-content flexrow flex-group-center flex-between">
            <input class="resource-edit" data-resource="resolve" type="text" name="system.resources.resolve.value"
              value="{{system.resources.resolve.value}}" data-dtype="Number" />
            <span> / </span>
            <span>{{numberFormat system.resources.resolve.maxValue decimals=0}}</span>
          </div>
        </div>

        {{!-- Wounds --}}
        <div class="resource flex-group-center border">
          <label for="system.resources.wounds.value" class="stat-label">{{localize
            "TITAN.resource.option.wounds.label"}}</label>
          <div class="stat-content flexrow flex-group-center flex-between">
            <input class="resource-edit" data-resource="wounds" type="text" name="system.resources.wounds.value"
              value="{{system.resources.wounds.value}}" data-dtype="Number" />
            <span> / </span>
            <span>{{numberFormat system.resources.wounds.maxValue decimals=0}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills-tab">{{localize "TITAN.skills.label"}}</a>
    <a class="item" data-tab="actions-tab">{{localize "TITAN.actions.label"}}</a>
    <a class="item" data-tab="inventory-tab">{{localize "TITAN.inventory.label"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills Tab --}}
    <div class="tab" data-group="primary" data-tab="skills-tab">
      {{> "systems/titan/templates/actor/parts/actor-skills-tab.hbs"}}
    </div>

    {{!-- Actions Tab --}}
    <div class="tab" data-group="primary" data-tab="actions-tab">
      {{> "systems/titan/templates/actor/parts/actor-actions-tab.hbs"}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab" data-group="primary" data-tab="inventory-tab">
      {{> "systems/titan/templates/actor/parts/actor-inventory-tab.hbs"}}
    </div>
  </section>
</form>