<form class="{{cssClass}} actor-sheet player-sheet flexcol" autocomplete="off">

    {{! Sheet Header }}
    <div class="sheet-header">

        {{! Profile }}
        <div class="profile">

            {{! Image }}
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </div>

        {{! Header Fields }}
        <div class="header-fields">

            {{! Special stats }}
            <div class="header-row">
                <div class="stat-field">
                    <h1 class="actor-name">
                        <input class="name-input" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                    </h1>
                </div>

                {{! Inspiration }}
                <div class="stat-field">
                    <label for="system.inspiration" class="stat-label">
                        {{localize "TITAN.inspiration.label"}}
                    </label>
                    <input type="number" name="system.inspiration" value="{{system.inspiration}}" data-dtype="Number" />
                </div>

                {{! Exp }}
                <div class="stat-field">
                    <label for="system.exp" class="stat-label">{{localize "TITAN.exp.label"}}</label>
                    <div class="stat-sub-fields">

                        {{! EXP Available}}
                        <div class="stat-sub-field">
                            <label for="system.exp.available" class="stat-label">
                                {{localize "TITAN.available.label"}}
                            </label>
                            <div>{{numberFormat system.exp.available decimals=0}}</div>
                        </div>

                        {{! Separator}}
                        <div class="stat-sub-field separator">
                            <div>
                                /
                            </div>
                        </div>

                        {{! EXP earned }}
                        <div class="stat-sub-field">
                            <label for="system.exp.earned" class="stat-label">
                                {{localize "TITAN.earned.label"}}
                            </label>
                            <input type="number" name="system.exp.earned" value="{{system.exp.earned}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </div>
            </div>

            {{! Derived Stats }}
            <div class="header-row">
                {{! Resistances }}
                {{#each system.resistance as |resistance key|}}
                <div class="stat-field">
                    <a class="stat-label resistance-check" data-resistance={{key}} data-get-options="default">
                        {{localize (concat "TITAN.resistance.option." key ".label")}}
                    </a>
                    <div>{{numberFormat resistance.value decimals=0}}</div>
                </div>
                {{/each}}

                {{! Ratings }}
                {{! Initiative }}
                <div class="stat-field">
                    <a class="stat-label initiative-roll">
                        {{localize "TITAN.rating.option.initiative.label"}}
                    </a>
                    <div>{{numberFormat system.rating.initiative.value decimals=0}}</div>
                </div>

                {{! Awareness }}
                <div class="stat-field">
                    <label for="system.rating.awareness.value" class="stat-label">
                        {{localize "TITAN.rating.option.awareness.label"}}
                    </label>
                    <div>{{numberFormat system.rating.awareness.value decimals=0}}</div>
                </div>

                {{! Defense }}
                <div class="stat-field">
                    <label for="system.rating.defense.value" class="stat-label">
                        {{localize "TITAN.rating.option.defense.label"}}
                    </label>
                    <div>{{numberFormat system.rating.defense.value decimals=0}}</div>
                </div>

                {{! Melee }}
                <div class="stat-field">
                    <label for="system.rating.melee.value" class="stat-label">
                        {{localize "TITAN.rating.option.melee.label"}}
                    </label>
                    <div>{{numberFormat system.rating.melee.value decimals=0}}</div>
                </div>

                {{! Accuracy }}
                <div class="stat-field">
                    <label for="system.rating.accuracy.value" class="stat-label">
                        {{localize "TITAN.rating.option.accuracy.label"}}
                    </label>
                    <div>{{numberFormat system.rating.accuracy.value decimals=0}}</div>
                </div>
            </div>

            {{! Resources }}
            <div class="header-row">

                {{! Stamina }}
                <div class="stat-field">
                    <label for="system.resource.stamina" class="stat-label">
                        {{localize "TITAN.resource.option.stamina.label"}}
                    </label>

                    {{! Sub-fields}}
                    <div class="stat-sub-fields">

                        {{! Current }}
                        <div class="stat-sub-field">
                            <input class="resource-edit" data-resource="stamina" type="number"
                                name="system.resource.stamina.value" value="{{system.resource.stamina.value}}"
                                data-dtype="Number" />
                        </div>

                        {{! Separator }}
                        <div class="stat-sub-field separator">
                            /
                        </div>

                        {{! Total }}
                        <div class="stat-sub-field">
                            {{numberFormat system.resource.stamina.maxValue decimals=0}}
                        </div>
                    </div>
                </div>

                {{! Wounds }}
                <div class="stat-field">
                    <label for="system.resource.wounds" class="stat-label">
                        {{localize "TITAN.resource.option.wounds.label"}}
                    </label>

                    {{! Sub-fields}}
                    <div class="stat-sub-fields">

                        {{! Current }}
                        <div class="stat-sub-field">
                            <input class="resource-edit" data-resource="wounds" type="number"
                                name="system.resource.wounds.value" value="{{system.resource.wounds.value}}"
                                data-dtype="Number" />
                        </div>

                        {{! Separator }}
                        <div class="stat-sub-field separator">
                            /
                        </div>

                        {{! Total }}
                        <div class="stat-sub-field">
                            {{numberFormat system.resource.wounds.maxValue decimals=0}}
                        </div>
                    </div>
                </div>

                {{! Resolve }}
                <div class="stat-field">
                    <label for="system.resource.resolve" class="stat-label">
                        {{localize "TITAN.resource.option.resolve.label"}}
                    </label>

                    {{! Sub-fields}}
                    <div class="stat-sub-fields">

                        {{! Current }}
                        <div class="stat-sub-field">
                            <input class="resource-edit" data-resource="resolve" type="number"
                                name="system.resource.resolve.value" value="{{system.resource.resolve.value}}"
                                data-dtype="Number" />
                        </div>

                        {{! Separator }}
                        <div class="stat-sub-field separator">
                            /
                        </div>

                        {{! Total }}
                        <div class="stat-sub-field">
                            {{numberFormat system.resource.resolve.maxValue decimals=0}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{! Sheet Tab Navigation }}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{! Default tab is specified in actor-sheet.mjs }}
        <a class="item" data-tab="skills-tab">{{localize "TITAN.skills.label"}}</a>
        <a class="item" data-tab="actions-tab">{{localize "TITAN.actions.label"}}</a>
        <a class="item" data-tab="inventory-tab">{{localize "TITAN.inventory.label"}}</a>
    </nav>

    {{! Sheet Body }}
    <section class="sheet-body">

        {{! Skills Tab }}
        <div class="tab" data-group="primary" data-tab="skills-tab">
            {{> "systems/titan/templates/actor/components/actor-sheet-skills-tab.hbs"}}
        </div>

        {{! Actions Tab }}
        <div class="tab" data-group="primary" data-tab="actions-tab">
            {{> "systems/titan/templates/actor/components/actor-sheet-actions-tab.hbs"}}
        </div>

        {{! Inventory Tab }}
        <div class="tab" data-group="primary" data-tab="inventory-tab">
            {{> "systems/titan/templates/actor/components/actor-sheet-inventory-tab.hbs"}}
        </div>
    </section>
</form>