{{! Results }}
<div class="results-banner">
  {{! Successes }}
  {{results.successes}}
  {{localize "TITAN.check.successes.label"}}

  {{! Succeeded banner}}
  {{#if results.succeeded}}
  <div class="succeeded">
    {{localize "TITAN.check.succeeded.label"}}
  </div>

  {{! Extra successes }}
  {{#if results.extraSuccesses}}
  <div class="extra-successes">
    {{localize "TITAN.check.extraSuccesses.label"}}:
    {{results.extraSuccesses}}
  </div>
  {{/if}}

  {{! Damage }}
  {{#if results.damage}}
  <div class="damage">
    {{localize "TITAN.damage.label"}}:
    {{results.damage}}
  </div>
  {{/if}}


  {{! Failure Banner }}
  {{else if results.failed}}
  <div class="failed">
    {{localize "TITAN.check.failed.label"}}
  </div>
  {{/if}}
</div>