<div class="titan titan-chat-message check-chat-message attack-check-chat-message">

  {{! Check title }}
  <div class="check-title">
    {{! Label is appropriate}}
    {{#if label}}
    <h2 class="check-label">
      {{label}}
    </h2>
    <h3 class="check-stats">
      {{concat parameters.weaponName " (" parameters.attack.name ")"}}
    </h3>
    {{else}}

    {{! Use the attack name as the label if there is no label }}
    <h2 class="check-label">
      {{concat parameters.weaponName " (" parameters.attack.name ")"}}
    </h2>
    {{/if}}

    {{! Stats rolled }}
    <h3 class="check-stats">
      {{> "systems/titan/templates/checks/components/check-chat-message-attribute-skill.hbs"}}
    </h3>

    {{! Attack Ratings }}
    {{#if parameters.targetDefense}}
    <h3 class="check-stats">
      {{#if (equals parameters.type "melee")}}
      {{localize "TITAN.rating.option.melee.label"}}
      {{parameters.attackerMelee}}
      {{else}}
      {{localize "TITAN.rating.option.accuracy.label"}}
      {{parameters.attackerAccuracy}}
      {{/if}}
      {{localize "TITAN.versus.label"}}
      {{localize "TITAN.rating.option.defense.label"}}
      {{parameters.targetDefense}}
    </h3>
    {{/if}}

    {{! Multi-Attack }}
    {{#if parameters.multiAttack}}
    <h3 class="check-stats">
      {{localize "TITAN.attack.multi.label"}}
    </h3>
    {{/if}}

  </div>

  {{! Traits }}
  {{> "systems/titan/templates/chat-message/components/chat-message-traits-container.hbs"
  traits=parameters.attack.traits
  path="TITAN.attack.trait.option."}}

  {{! Dice Container }}
  {{> "systems/titan/templates/checks/components/check-chat-message-dice-container.hbs"}}

  {{! Results Banner }}
  {{> "systems/titan/templates/checks/components/check-chat-message-results-banner.hbs"}}

  {{! Check Description}}
  {{> "systems/titan/templates/chat-message/components/chat-message-description.hbs"
  description=parameters.attackDescription}}

  {{! Damage Buttons }}
  {{#if results.succeeded}}
  {{> "systems/titan/templates/checks/components/check-chat-message-damage-buttons.hbs"}}
  {{/if}}
</div>