<form>
  <div class="form-group">
    <label>{{localize "TITAN.attribute.label"}}</label>
    <select name="attribute">
      {{! Attribute options }}
      {{#select attribute}}
        {{#each attributeOptions as |option key|}}
          <option value="{{key}}">{{localize option}}</option>
        {{/each}}
      {{/select}}
    </select>

    {{! Skill options }}
    <select name="skill">
      {{#select skill}}
        {{#each skillOptions as |option key|}}
          <option value="{{key}}">{{localize option}}</option>
        {{/each}}
        {{! None option }}
        <option value="none">{{localize "TITAN.none.label"}}</option>
      {{/select}}
    </select>

    {{! Difficulty Options}}
    {{localize "TITAN.check.difficulty.label"}}
    <select id="difficulty">
      {{#select difficulty}}
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      {{/select}}
    </select>

    {{! Complexity Options}}
    {{localize "TITAN.check.complexity.label"}}
    <select id="complexity">
      {{#select complexity}}
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
      {{/select}}
    </select>

    {{! Dice Mod}}
    {{localize "TITAN.check.bonusPenaltyDice.label"}}
    <input type="number" name="diceMod" value={{diceMod}} data-dtype="Number" />
  </div>
</form>