<form>
  <div class="form-group">
    <label>{{localize "TITAN.attribute"}}</label>
    <select name="attribute">
      {{#select attribute}}
        {{#each attributes as |option key|}}
          <option value="{{key}}">{{localize
              (concat "TITAN.attributes." key)
            }}</option>
        {{/each}}
      {{/select}}
    </select>
    <select name="skill">
      {{#select skill}}
        {{#each skills as |option key|}}
          <option value="{{key}}">{{localize
              (concat "TITAN.skills." key)
            }}</option>
        {{/each}}
        <option value="none">{{localize "TITAN.none"}}</option>
      {{/select}}
    </select>
    {{localize "TITAN.check.difficulty"}}
    <input name ="difficulty" type="text" value="{{difficulty}}" data-dtype="Number"></input>
  </div>
</form>