<div class="titan titan-chat-message check-chat-message resistance-check-chat-message">

  {{! Check title }}
  <div class="check-title">
    {{! Label is appropriate}}
    {{#if label}}
    <h2 class="check-label">
      {{label}}
    </h2>

    {{! Stats rolled }}
    <h3 class="check-stats">
      {{localize (concat "TITAN.resistance.option." parameters.resistance ".label")}}
      {{concat parameters.difficulty ":" parameters.complexity}}
    </h3>
    {{else}}

    {{! Use the stats as the label if there is no label }}
    <h2 class="check-label">
      {{localize (concat "TITAN.resistance.option." parameters.resistance ".label")}}
      {{concat parameters.difficulty ":" parameters.complexity}}
    </h2>
    {{/if}}
  </div>

  {{! Dice Container }}
  {{> "systems/titan/templates/checks/components/check-chat-message-dice-container.hbs" }}

  {{! Results Banner }}
  {{> "systems/titan/templates/checks/components/check-chat-message-results-banner.hbs" }}
</div>