{{! Header}}
<div class="sheet-header item-sheet-value-rarity-header.hbs">

    {{! Label }}
    <div class="item-label">
        {{! Image }}
        <img class="item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

        {{! Name}}
        <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>

    {{! Fields }}
    <div class="item-fields">

        {{! Value}}
        <div class="item-value">
            <label class="stat-label">{{localize "TITAN.item.value.label"}}</label>
            <input type="number" name="system.value" value="{{system.value}}" data-dtype="Number" />
        </div>

        {{! Rarity }}
        <div class="item-rarity">
            <label class="stat-label">{{localize "TITAN.item.rarity.label"}}</label>
            <select name="system.rarity">
                {{selectOptions rarityOptions selected=system.rarity localize=true}}
            </select>
        </div>
    </div>
</div>