<div class="grid grid-3col weapon-description-tab">
  {{! Sidebar }}
  <div class="flex-group-center weapon-details">
    <div class="border">
      <label class="stat-label">{{localize "TITAN.attacks.label"}}</label>
    </div>

    {{! Scrolling }}
    <div class="max-height-25 scrolling weapon-details-content">
      {{! Weapon attacks }}
      <div class="attacks">
        {{! For each attack }}
        {{#each system.attack as |attack key|}}
        {{> "systems/titan/templates/item/weapon/weapon-attack-sheet-vertical.hbs"
        attack=attack
        key=key
        attackTypeOptions=../attackTypeOptions
        rangedRangeOptions=../rangedRangeOptions
        meleeRangeOptions=../meleeRangeOptions
        attributeOptions=../attributeOptions
        skillOptions=../skillOptions
        tab="description"
        }}
        {{/each}}
        {{! Adding a new attack }}
        <div class="flex-group-center padding-right10 grid-span-4 border">
          <a class="fas fa-plus-circle add-attack"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-span-2 flexcol max-height-23">
    <div>
      <h2>{{localize "TITAN.attack.description.label"}}</h2>
      <div class="editor">
        {{editor
        system.attackDescription
        target="system.attackDescription"
        rollData=rollData
        button=true
        owner=owner
        editable=editable
        }}
      </div>
    </div>

    <div>
      <h2>{{localize "TITAN.description.label"}}</h2>
      <div class="editor">
        {{editor
        system.description
        target="system.description"
        rollData=rollData
        button=true
        owner=owner
        editable=editable
        }}
      </div>
    </div>
  </div>

</div>