<form class="{{cssClass}}" autocomplete="off">

  {{! Header}}
  <header class="sheet-header fixed">
    <img
      class="item-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields grid grid-4col">

      {{! Name}}
      <h1 class="item-name grid-span-2 flex-group-left"><input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        /></h1>

      {{! Value}}
      <div class="stat flex-group-right">
        <label class="stat-label flex-group-right">{{localize
            "TITAN.item.value.label"
          }}</label>
        <input
          type="text"
          name="data.value"
          class="flex-group-right"
          value="{{data.value}}"
          data-dtype="Number"
        />
      </div>

      {{! Rarity }}
      <div class="stat flexcol flex-group-right">
        <label class="stat-label">{{localize "TITAN.item.rarity.label"}}</label>
        <div>
          <select name="data.rarity">
            {{selectOptions rarityOptions selected=data.rarity localize=true}}
          </select>
        </div>
      </div>
    </div>
  </header>

  <div class="sheet-content">
    <div class="main">

      {{! For the main features list, span the right two columns }}
      <div class="main sheet-body fixed">
        {{! Sheet Tab Navigation }}
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="description">Description</a>
          <a class="item" data-tab="attribute">Attribute</a>
        </nav>
        
        {{! Description Tab }}
        <div class="tab" data-group="primary" data-tab="description">
          {{> "systems/titan/templates/item/weapon/weapon-description-tab.hbs"}}
        </div>

        {{! Attributes Tab }}
        <div class="tab attribute" data-group="primary" data-tab="attribute">
          {{! As you add new fields, add them in here! }}
          <div class="resource">
            <label class="resource-label">Roll Formula</label>
            <input
              type="text"
              name="data.formula"
              value="{{data.formula}}"
              data-dtype="String"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>