<div class="spell-sheet-aspects-tab">


  {{! Range }}
  <div class="stat-category">

    {{! Category label }}
    <h3 class="stat-category-label">{{localize "TITAN.range.label"}}</h3>

    <div class="stat-field-vertical">

      {{! Label }}
      <div class="stat-label">
        {{localize "TITAN.type.label"}}
      </div>

      {{! Select Input }}
      <select name="system.range.type" class="stat-input">
        {{selectOptions rangeOptions selected=system.range.type localize=true}}
      </select>

      {{! Custom }}
      {{#if (equals system.range.type "custom")}}
      <input class="stat-input" type="text" name="system.range.custom" value="{{system.range.custom}}"
        placeholder="Custom" />
      {{/if}}
    </div>
  </div>

  {{! Target }}
  <div class="stat-category">

    {{! Category label }}
    <h3 class="stat-category-label">{{localize "TITAN.target.label"}}</h3>

    {{! Type }}
    <div class="stat-field-vertical">
      {{! Type Label }}
      <div class="stat-label">
        {{localize "TITAN.type.label"}}
      </div>

      {{! Type Select }}
      <select name="system.target.type" class="stat-input edit-target-type">
        {{selectOptions targetOptions selected=system.target.type localize=true}}
      </select>

      {{! Type Custom }}
      {{#if (equals system.target.type "custom")}}
      <input class="stat-input" type="text" name="system.target.custom" value="{{system.target.custom}}"
        placeholder="Custom" />
      {{/if}}
    </div>

    {{! If Target not Self }}
    {{#if (not (equals system.target.type "self"))}}
    <div class="stat-field-horizontal">
      {{! Initial Value Label }}
      <div class="stat-label">
        {{localize "TITAN.number.label"}}
      </div>

      {{! Initial Value Input }}
      <input name="system.target.initialValue" class="stat-input edit-target" type="number"
        value="{{system.target.initialValue}}" data-dtype="Number" />
    </div>

    {{! Overcast }}
    <div class="stat-field-horizontal">
      {{! Overcast Label }}
      <div class="stat-label">
        {{concat (localize "TITAN.spell.overcast.label")"?"}}
      </div>

      {{! Overcast Checkbox }}
      <input name="system.target.overcast.enable" class="stat-input" type="checkbox" {{checked
        system.target.overcast.enable}} />
    </div>

    {{! Overcast Success Cost }}
    {{#if system.target.overcast.enable}}
    <div class="stat-field-horizontal">

      {{! Calculate Success Cost }}
      <div class="stat-label">
        {{concat (localize "TITAN.spell.overcast.calculateSuccessCost.label") "?"}}
      </div>

      {{! Calculate Success Cost Checkbox }}
      <input name="system.target.overcast.calculateSuccessCost" class="stat-input edit-target-calculate-success-cost"
        type="checkbox" {{checked system.target.overcast.calculateSuccessCost}} />
    </div>

    <div class="stat-field-horizontal">
      {{! Overcast Success Cost Label }}
      <div class="stat-label">
        {{localize "TITAN.spell.overcast.successCost.label"}}
      </div>

      {{#if system.target.overcast.calculateSuccessCost}}
      {{! Overcast Success Cost }}
      <div class="stat-input">
        {{system.target.overcast.successCost}}
      </div>
      {{else}}
      {{! Overcast Success Cost Input }}
      <input name="system.target.overcast.successCost" class="stat-input" type="number"
        value="{{system.target.overcast.successCost}}" data-dtype="Number" />
      {{/if}}
    </div>
    {{/if}}
    {{/if}}
  </div>

  {{! Damage }}
  <div class="stat-category">

    {{! Category label }}
    <h3 class="stat-category-label">{{localize "TITAN.damage.label"}}</h3>

    {{! Initial Value }}
    <div class="stat-field-horizontal">

      {{! Label }}
      <div class="stat-label">
        {{localize "TITAN.amount.label"}}
      </div>

      {{! Input }}
      <input name="system.damage.initialValue" class="stat-input" type="number" value="{{system.damage.initialValue}}"
        data-dtype="Number" />
    </div>

    {{! If Damage }}
    {{#if (greater system.damage.initialValue 0)}}
    {{! Ignore Armor }}
    <div class="stat-field-horizontal">

      {{! Label }}
      <div class="stat-label">
        {{localize "TITAN.ignoreArmor.label"}}
      </div>

      {{! Checkbox }}
      <input name="system.damage.ignoreArmor" class="stat-input edit-damage-ignore-armor" type="checkbox" {{checked
        system.damage.ignoreArmor}} />
    </div>

    {{! Resistance Check }}
    <div class="stat-field-vertical">
      {{! Label }}
      <div class="stat-label">
        {{localize "TITAN.resistanceCheck.label"}}
      </div>

      {{! Select }}
      <select name="system.damage.resistanceCheck" class="stat-input edit-damage-resistance-check">
        {{selectOptions resistanceCheckOptions selected=system.damage.resistanceCheck localize=true}}
      </select>
    </div>

    {{! Overcast }}
    <div class="stat-field-horizontal">
      {{! Overcast Label }}
      <div class="stat-label">
        {{concat (localize "TITAN.spell.overcast.label")"?"}}
      </div>

      {{! Overcast Checkbox }}
      <input name="system.damage.overcast.enable" class="stat-input" type="checkbox" {{checked
        system.damage.overcast.enable}} />
    </div>

    {{! Overcast Success Cost }}
    {{#if system.damage.overcast.enable}}
    <div class="stat-field-horizontal">

      {{! Calculate Success Cost }}
      <div class="stat-label">
        {{concat (localize "TITAN.spell.overcast.calculateSuccessCost.label") "?"}}
      </div>

      {{! Calculate Success Cost Checkbox }}
      <input name="system.damage.overcast.calculateSuccessCost" class="stat-input edit-damage-calculate-success-cost"
        type="checkbox" {{checked system.damage.overcast.calculateSuccessCost}} />
    </div>

    <div class="stat-field-horizontal">
      {{! Overcast Success Cost Label }}
      <div class="stat-label">
        {{localize "TITAN.spell.overcast.successCost.label"}}
      </div>

      {{#if system.damage.overcast.calculateSuccessCost}}
      {{! Overcast Success Cost }}
      <div class="stat-input">
        {{system.damage.overcast.successCost}}
      </div>
      {{else}}
      {{! Overcast Success Cost Input }}
      <input name="system.damage.overcast.successCost" class="stat-input" type="number"
        value="{{system.damage.overcast.successCost}}" data-dtype="Number" />
      {{/if}}
    </div>
    {{/if}}
    {{/if}}

  </div>

  {{! Healing }}
  <div class="stat-category">

    {{! Category label }}
    <h3 class="stat-category-label">{{localize "TITAN.healing.label"}}</h3>

    {{! Initial Value }}
    <div class="stat-field-horizontal">

      {{! Label }}
      <div class="stat-label">
        {{localize "TITAN.amount.label"}}
      </div>

      {{! Input }}
      <input name="system.healing.initialValue" class="stat-input" type="number" value="{{system.healing.initialValue}}"
        data-dtype="Number" />
    </div>

    {{! If healing }}
    {{#if (greater system.healing.initialValue 0)}}

    {{! Overcast }}
    <div class="stat-field-horizontal">
      {{! Overcast Label }}
      <div class="stat-label">
        {{concat (localize "TITAN.spell.overcast.label")"?"}}
      </div>

      {{! Overcast Checkbox }}
      <input name="system.healing.overcast.enable" class="stat-input" type="checkbox" {{checked
        system.healing.overcast.enable}} />
    </div>

    {{! Overcast Success Cost }}
    {{#if system.healing.overcast.enable}}
    <div class="stat-field-horizontal">

      {{! Calculate Success Cost }}
      <div class="stat-label">
        {{concat (localize "TITAN.spell.overcast.calculateSuccessCost.label") "?"}}
      </div>

      {{! Calculate Success Cost Checkbox }}
      <input name="system.healing.overcast.calculateSuccessCost" class="stat-input edit-healing-calculate-success-cost"
        type="checkbox" {{checked system.healing.overcast.calculateSuccessCost}} />
    </div>

    <div class="stat-field-horizontal">
      {{! Overcast Success Cost Label }}
      <div class="stat-label">
        {{localize "TITAN.spell.overcast.successCost.label"}}
      </div>

      {{#if system.healing.overcast.calculateSuccessCost}}
      {{! Overcast Success Cost }}
      <div class="stat-input">
        {{system.healing.overcast.successCost}}
      </div>
      {{else}}
      {{! Overcast Success Cost Input }}
      <input name="system.healing.overcast.successCost" class="stat-input" type="number"
        value="{{system.healing.overcast.successCost}}" data-dtype="Number" />
      {{/if}}
    </div>
    {{/if}}
    {{/if}}

  </div>

  {{! Duration }}
  <div class="stat-category">

    {{! Category label }}
    <h3 class="stat-category-label">{{localize "TITAN.duration.label"}}</h3>

    {{! Period Value }}
    <div class="stat-field-vertical">

      {{! Label }}
      <div class="stat-label">
        {{localize "TITAN.duration.period.label"}}
      </div>

      {{! Input }}
      <select name="system.duration.period" class="stat-input edit-duration-period">
        {{selectOptions durationOptions selected=system.duration.period localize=true}}
      </select>

      {{! Custom Input }}
      {{#if (equals system.duration.period "custom")}}
      <input class="stat-input" type="text" name="system.duration.custom" value="{{system.duration.custom}}"
        placeholder="Custom" />
      {{/if}}
    </div>

    {{! Overcast }}
    {{#if (not (equals system.duration.period "instant"))}}
    <div class="stat-field-horizontal">
      {{! Overcast Label }}
      <div class="stat-label">
        {{concat (localize "TITAN.spell.overcast.label")"?"}}
      </div>

      {{! Overcast Checkbox }}
      <input name="system.duration.overcast.enable" class="stat-input" type="checkbox" {{checked
        system.duration.overcast.enable}} />
    </div>

    {{! Overcast Success Cost }}
    {{#if system.duration.overcast.enable}}
    <div class="stat-field-horizontal">

      {{! Calculate Success Cost }}
      <div class="stat-label">
        {{concat (localize "TITAN.spell.overcast.calculateSuccessCost.label") "?"}}
      </div>

      {{! Calculate Success Cost Checkbox }}
      <input name="system.duration.overcast.calculateSuccessCost"
        class="stat-input edit-duration-calculate-success-cost" type="checkbox" {{checked
        system.duration.overcast.calculateSuccessCost}} />
    </div>

    <div class="stat-field-horizontal">
      {{! Overcast Success Cost Label }}
      <div class="stat-label">
        {{localize "TITAN.spell.overcast.successCost.label"}}
      </div>

      {{#if system.duration.overcast.calculateSuccessCost}}
      {{! Overcast Success Cost }}
      <div class="stat-input">
        {{system.duration.overcast.successCost}}
      </div>
      {{else}}
      {{! Overcast Success Cost Input }}
      <input name="system.duration.overcast.successCost" class="stat-input" type="number"
        value="{{system.duration.overcast.successCost}}" data-dtype="Number" />
      {{/if}}
    </div>
    {{/if}}
    {{/if}}
  </div>

  {{! Conditions }}
  <div class="stat-category spell-conditions">

    {{! Category label }}
    <h3 class="stat-category-label">{{localize "TITAN.conditionRemovalAndImmunity.label"}}</h3>

    {{! All }}
    <div class="condition-extra-wide-row">
      <div class="stat-field-horizontal ">
        {{! Label }}
        <div class="stat-label">
          {{localize "TITAN.all.label"}}
        </div>

        {{! Checkbox }}
        <input name="system.conditionRemovalAndImmunity.all" class="stat-input" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.all}}>
      </div>
    </div>

    {{#if (not system.conditionRemovalAndImmunity.all)}}
    <div class="condition-rows">
      {{! Blinded }}
      <div class="stat-field-horizontal">
        {{! Label }}
        <div class="stat-label">
          {{localize "TITAN.condition.option.blinded.label"}}
        </div>

        {{! Checkbox }}
        <input name="system.conditionRemovalAndImmunity.blinded" class="stat-input" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.blinded}}>
      </div>

      {{! Charmed }}
      <div class="stat-field-horizontal">
        {{! Label }}
        <div class="stat-label">
          {{localize "TITAN.condition.option.charmed.label"}}
        </div>

        {{! Checkbox }}
        <input name="system.conditionRemovalAndImmunity.charmed" class="stat-input" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.charmed}}>
      </div>

      {{! Deafened }}
      <div class="stat-field-horizontal">
        {{! Label }}
        <div class="stat-label">
          {{localize "TITAN.condition.option.deafened.label"}}
        </div>

        {{! Checkbox }}
        <input name="system.conditionRemovalAndImmunity.deafened" class="stat-input" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.deafened}}>
      </div>

      {{! Frightened }}
      <div class="stat-field-horizontal">
        {{! Label }}
        <div class="stat-label">
          {{localize "TITAN.condition.option.frightened.label"}}
        </div>

        {{! Checkbox }}
        <input name="system.conditionRemovalAndImmunity.frightened" class="stat-input" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.frightened}}>
      </div>

      {{! Incapacitated }}
      <div class="stat-field-horizontal">
        {{! Label }}
        <div class="stat-label">
          {{localize "TITAN.condition.option.incapacitated.label"}}
        </div>

        {{! Checkbox }}
        <input name="system.conditionRemovalAndImmunity.incapacitated" class="stat-input" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.incapacitated}}>
      </div>

      {{! Poisoned }}
      <div class="stat-field-horizontal">
        {{! Label }}
        <div class="stat-label">
          {{localize "TITAN.condition.option.poisoned.label"}}
        </div>

        {{! Checkbox }}
        <input name="system.conditionRemovalAndImmunity.poisoned" class="stat-input" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.poisoned}}>
      </div>

      {{! Prone }}
      <div class="stat-field-horizontal">
        {{! Label }}
        <div class="stat-label">
          {{localize "TITAN.condition.option.prone.label"}}
        </div>

        {{! Checkbox }}
        <input name="system.conditionRemovalAndImmunity.prone" class="stat-input" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.prone}}>
      </div>

      {{! Restrained }}
      <div class="stat-field-horizontal">
        {{! Label }}
        <div class="stat-label">
          {{localize "TITAN.condition.option.restrained.label"}}
        </div>

        {{! Checkbox }}
        <input name="system.conditionRemovalAndImmunity.restrained" class="stat-input" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.restrained}}>
      </div>

      {{! Stunned }}
      <div class="stat-field-horizontal">
        {{! Label }}
        <div class="stat-label">
          {{localize "TITAN.condition.option.stunned.label"}}
        </div>

        {{! Checkbox }}
        <input name="system.conditionRemovalAndImmunity.stunned" class="stat-input" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.stunned}}>
      </div>

      {{! Unconscious }}
      <div class="stat-field-horizontal">
        {{! Label }}
        <div class="stat-label">
          {{localize "TITAN.condition.option.unconscious.label"}}
        </div>

        {{! Checkbox }}
        <input name="system.conditionRemovalAndImmunity.unconscious" class="stat-input" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.unconscious}}>
      </div>
    </div>

    {{! Overcast }}
    <div class="condition-extra-wide-row">
      <div class="stat-field-horizontal ">
        {{! Label }}
        <div class="stat-label">
          {{concat (localize "TITAN.spell.overcast.label")"?"}}
        </div>

        {{! Checkbox }}
        <input name="system.conditionRemovalAndImmunity.overcast.enable" class="stat-input" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.overcast.enable}}>
      </div>
    </div>

    {{! Overcast Success Cost }}
    {{#if system.conditionRemovalAndImmunity.overcast.enable}}
    <div class="condition-rows">
      <div class="stat-field-horizontal">

        {{! Calculate Success Cost }}
        <div class="stat-label">
          {{concat (localize "TITAN.spell.overcast.calculateSuccessCost.label") "?"}}
        </div>

        {{! Calculate Success Cost Checkbox }}
        <input name="system.conditionRemovalAndImmunity.overcast.calculateSuccessCost"
          class="stat-input edit-condition-removal-and -immunity-calculate-success-cost" type="checkbox" {{checked
          system.conditionRemovalAndImmunity.overcast.calculateSuccessCost}} />
      </div>

      <div class="stat-field-horizontal">
        {{! Overcast Success Cost Label }}
        <div class="stat-label">
          {{localize "TITAN.spell.overcast.successCost.label"}}
        </div>

        {{#if system.conditionRemovalAndImmunity.overcast.calculateSuccessCost}}
        {{! Overcast Success Cost }}
        <div class="stat-input">
          {{system.conditionRemovalAndImmunity.overcast.successCost}}
        </div>
        {{else}}
        {{! Overcast Success Cost Input }}
        <input name="system.conditionRemovalAndImmunity.overcast.successCost" class="stat-input" type="number"
          value="{{system.conditionRemovalAndImmunity.overcast.successCost}}" data-dtype="Number" />
        {{/if}}
      </div>
    </div>
    {{/if}}
    {{/if}}
  </div>
</div>

</div>