{{! Condition infliction }}
<div class="spell-sheet-aspects-tab-inflict-condition stat-category">

  {{! Category label }}
  <h3 class="stat-category-label">{{localize "TITAN.inflictCondition.label"}}</h3>

  {{! Each current active condition }}
  {{#each system.inflictCondition as |condition key|}}
  {{#if condition.enabled}}
  <div class="stat-field-horizontal">
    {{! Label }}
    <div class="stat-label">
      {{localize (concat "TITAN.condition.option." key ".label")}}
    </div>

    {{! Delete Button }}
    <a class="fas fa-trash delete-inflict-condition" data-condition={{key}}></a>
  </div>

  {{! Resistance Check }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-resistance-check-select.hbs"
  path=(concat "system.inflictCondition." key ".resistanceCheck")
  options=../resistanceCheckOptions
  value=condition.resistanceCheck
  }}
  {{/if}}
  {{/each}}

  {{! Add Inactive Condition }}
  {{#if inflictConditionOptions}}
  <div class="stat-field-vertical">

    {{! Type Label }}
    <div class="stat-label">
      {{localize "TITAN.addCondition.label"}}
    </div>

    {{! Type Select }}
    <select class="stat-input add-inflict-condition">
      {{selectOptions inflictConditionOptions selected=system.inflictConditionOptions.none localize=true}}
    </select>
  </div>
  {{/if}}
</div>