{{! Decrease skill }}
<div class="spell-sheet-aspects-tab-decrease-skill stat-category">

  {{! Category label }}
  <h3 class="stat-category-label">{{localize "TITAN.decreaseSkill.label"}}</h3>

  {{! Choose }}
  {{#if (greater system.decreaseSkill.choose 0)}}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-number-input.hbs"
  label="TITAN.choose.label"
  path="system.decreaseSkill.choose"
  value=system.decreaseSkill.choose
  }}
  {{/if}}

  {{! Each current active skill }}
  {{#each system.decreaseSkill.skill as |skill key|}}
  {{#if skill}}
  <div class="stat-field-horizontal">
    {{! Label }}
    <div class="stat-label">
      {{localize (concat "TITAN.skill.option." key ".label")}}
    </div>

    {{! Delete Button }}
    <a class="fas fa-trash delete-decrease-skill" data-skill={{key}}></a>
  </div>
  {{/if}}
  {{/each}}

  {{! Add Inactive skill }}
  {{#if decreaseSkillOptions}}
  <div class="stat-field-vertical">

    {{! Type Label }}
    <div class="stat-label">
      {{localize "TITAN.addSkill.label"}}
    </div>

    {{! Type Select }}
    <select class="stat-input add-decrease-skill">
      {{selectOptions decreaseSkillOptions selected=system.decreaseSkillOptions.none localize=true}}
    </select>
  </div>
  {{/if}}


  {{#if decreaseSkill}}

  {{! Resistance Check }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-resistance-check-select.hbs"
  path="system.decreaseSkill.resistanceCheck"
  options=resistanceCheckOptions
  value=system.decreaseSkill.resistanceCheck
  }}

  {{! Overcast }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-overcast.hbs"
  overcast=system.decreaseSkill.overcast
  path="system.decreaseSkill"
  }}
  {{/if}}
</div>