{{! Condition removal }}
<div class="spell-sheet-aspects-tab-remove-condition stat-category">

  {{! Category label }}
  <h3 class="stat-category-label">{{localize "TITAN.removeCondition.label"}}</h3>

  {{! If all is true }}
  {{#if system.removeCondition.all}}
  <div class="stat-field-horizontal">
    {{! Label }}
    <div class="stat-label">
      {{localize "TITAN.all.label"}}
    </div>

    {{! Delete Button }}
    <a class="fas fa-trash delete-remove-condition" data-condition="all"></a>
  </div>
  {{else}}

  {{! Each current active condition }}
  {{#each system.removeCondition.condition as |condition key|}}
  {{#if condition}}
  <div class="stat-field-horizontal">
    {{! Label }}
    <div class="stat-label">
      {{localize (concat "TITAN.condition.option." key ".label")}}
    </div>

    {{! Delete Button }}
    <a class="fas fa-trash delete-remove-condition" data-condition={{key}}></a>
  </div>
  {{/if}}
  {{/each}}

  {{! Any }}
  {{#if (greater system.removeCondition.any.initialValue 0)}}
  <div class="stat-sub-category">
    <div class="stat-field-horizontal">
      {{! Label }}
      <div class="stat-label">
        {{localize "TITAN.any.label"}}
      </div>

      {{! Input }}
      <input name="system.removeCondition.any.initialValue" class="stat-input" type="number"
        value="{{system.removeCondition.any.initialValue}}" data-dtype="Number" />
    </div>
  </div>

  {{! Overcast }}
  {{> "systems/titan/templates/item/spell/components/spell-sheet-aspects-tab-overcast.hbs"
  overcast=system.removeCondition.any.overcast
  path="system.removeCondition.any"
  }}
  {{/if}}

  {{! Add Inactive Condition }}
  {{#if removeConditionOptions}}
  <div class="stat-field-vertical">

    {{! Type Label }}
    <div class="stat-label">
      {{localize "TITAN.addCondition.label"}}
    </div>

    {{! Type Select }}
    <select class="stat-input add-remove-condition">
      {{selectOptions removeConditionOptions selected=system.removeConditionOptions.none localize=true}}
    </select>
  </div>
  {{/if}}

  {{/if}}

</div>