<div class="spell-sheet-details-tab">


  {{! Range }}
  <div class="stat-category">

    {{! Category label }}
    <h3 class="stat-category-label">{{localize "TITAN.range.label"}}</h3>

    <div class="stat-field-vertical">

      {{! Label }}
      <div class="stat-label">
        {{localize "TITAN.type.label"}}
      </div>

      {{! Select Input }}
      <select name="system.range.type" class="stat-input">
        {{selectOptions rangeOptions selected=system.range.type localize=true}}
      </select>

      {{! Custom }}
      {{#if (equals system.range.type "custom")}}
      <input class="stat-input" type="text" name="system.range.custom" value="{{system.range.custom}}"
        placeholder="Custom" />
      {{/if}}
    </div>
  </div>

  {{! Target }}
  <div class="stat-category">

    {{! Category label }}
    <h3 class="stat-category-label">{{localize "TITAN.target.label"}}</h3>

    {{! Type }}
    <div class="stat-field-vertical">
      {{! Type Label }}
      <div class="stat-label">
        {{localize "TITAN.type.label"}}
      </div>

      {{! Type Select }}
      <select name="system.target.type" class="stat-input edit-target-type">
        {{selectOptions targetOptions selected=system.target.type localize=true}}
      </select>

      {{! Type Custom }}
      {{#if (equals system.target.type "custom")}}
      <input class="stat-input" type="text" name="system.target.custom" value="{{system.target.custom}}"
        placeholder="Custom" />
      {{/if}}
    </div>

    {{! If Target not Self }}
    {{#if (not (equals system.target.type "self"))}}
    <div class="stat-field-vertical">
      {{! Initial Value Label }}
      <div class="stat-label">
        {{localize "TITAN.number.label"}}
      </div>

      {{! Initial Value Input }}
      <input name="system.target.initialValue" class="stat-input edit-target" type="number"
        value="{{system.target.initialValue}}" data-dtype="Number" />
    </div>

    {{! Overcast }}
    <div class="stat-field-vertical">
      {{! Overcast Label }}
      <div class="stat-label">
        {{concat (localize "TITAN.spell.overcast.label")"?"}}
      </div>

      {{! Overcast Checkbox }}
      <input name="system.target.overcast.enable" class="stat-input" type="checkbox" {{checked
        system.target.overcast.enable}} />
    </div>

    {{! Overcast Success Cost }}
    {{#if system.target.overcast.enable}}
    <div class="stat-field-vertical">

      {{! Calculate Success Cost }}
      <div class="stat-label">
        {{concat (localize "TITAN.spell.overcast.calculateSuccessCost.label") "?"}}
      </div>

      {{! Calculate Success Cost Checkbox }}
      <input name="system.target.overcast.calculateSuccessCost" class="stat-input edit-target-calculate-success-cost"
        type="checkbox" {{checked system.target.overcast.calculateSuccessCost}} />

      {{! Overcast Success Cost Label }}
      <div class="stat-label">
        {{localize "TITAN.spell.overcast.successCost.label"}}
      </div>

      {{#if system.target.overcast.calculateSuccessCost}}
      {{! Overcast Success Cost }}
      <div class="stat-input">
        {{system.target.overcast.successCost}}
      </div>
      {{else}}
      {{! Overcast Success Cost Input }}
      <input name="system.target.overcast.successCost" class="stat-input" type="number"
        value="{{system.target.overcast.successCost}}" data-dtype="Number" />
      {{/if}}
    </div>
    {{/if}}

    {{/if}}
  </div>


</div>