<form class="titan item-dialog-trait-select">
  <div class="form-group">
    {{! Trait Options List}}
    <ol class="list list-3col traitOptions">

      {{! Trait Option }}
      {{#each traitOptions as |option key|}}
      <li class="list-item vertical-list border">
        <div class="flexrow">

          {{! Trait Label }}
          <label class="flex flex-group-left">{{localize
            option.label
            }}</label>

          {{! Trait input }}
          {{#if option.numberValue includeZero=true}}
          <div class="flex-group-right">
            <input type="text" name="{{key}}.numberValue" value="{{option.numberValue}}" data-dtype="Number" />
          </div>

          {{else}}
          <input class="flex-group-right" type="checkbox" name="{{key}}.isTraitActive" {{checked
            option.isTraitActive}} />
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</form>