<form class="{{cssClass}}" autocomplete="off">

  {{! Header}}
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields grid grid-4col">

      {{! Name}}
      <h1 class="item-name grid-span-2 flex-group-left"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>

      {{! Value}}
      <div class="stat flex-group-right">
        <label class="stat-label flex-group-right">{{localize "TITAN.item.value.label"}}</label>
        <input type="text" name="data.value" class="flex-group-right" value="{{data.value}}" data-dtype="Number" />
      </div>

      {{! Rarity }}
      <div class="stat flexcol flex-group-right">
        <label class="stat-label">{{localize "TITAN.item.rarity.label"}}</label>
        <div>
          <select name="data.rarity">
            {{selectOptions rarityOptions selected=data.rarity localize=true}}
          </select>
        </div>
      </div>
    </div>
  </header>

  <div class="sheet-content">
    <section class="main grid grid-10col">
      {{! Sidebar }}
      <aside class="sidebar flex-group-center grid-span-3">

        {{! Weapon attacks }}
        <section class="attacks full-height">
          <label class="stat-label">{{localize "TITAN.attacks.label"}}</label>
          <ul class="list list-1col attack-list">

            {{! For each attack }}
            {{#each data.attack as |attack key|}}
            <li class="list-item attack grid grid-4col full-height border">

              {{! Name Label }}
              <label class="stat-label flex-group-left padding-left10 grid-span-2 full-height">{{localize
                "TITAN.label"}}</label>

              {{! Name input }}
              <input
                class="flex-group-right padding-right10 grid-span-2 full-height edit-attack-name"
                type="text"
                value="{{attack.name}}"
                data-idx={{key}}
                data-dtype="text"
              />

              {{! Type Label }}
              <label class="stat-label flex-group-left padding-left10 grid-span-2 full-height">{{localize
                "TITAN.type.label"}}</label>

              {{! Type Selector }}
              <select
                class="flex-group-right padding-right10 grid-span-2 full-height select-attack-type"
                data-idx={{key}}>
                {{selectOptions ../attackTypeOptions selected=attack.type localize=true}}
              </select>

              {{! Only show the range selector if this is a ranged attack }}
              {{#if (equals attack.type "ranged")}}
                {{! Range Label }}
                <label class="stat-label flex-group-left padding-left10 grid-span-2 full-height">{{localize
                  "TITAN.range.label"}}</label>

                {{! Range Selector }}
                <select
                  class="flex-group-right padding-right10 grid-span-2 full-height select-attack-range"
                  data-idx={{key}}>
                  {{selectOptions ../attackRangeOptions selected=attack.range localize=true}}
                </select>
              {{/if}}


              {{! Attribute Label }}
              <label class="stat-label flex-group-left padding-left10 grid-span-2 full-height">{{localize
                "TITAN.attribute.label"}}</label>

              {{! Attribute Selector}}
              <select
                class="flex-group-right padding-right10 grid-span-2 full-height select-attack-attribute"
                data-idx={{key}}>
                {{selectOptions ../attributeOptions selected=attack.attribute localize=true}}
              </select>

              {{! Skill Label}}
              <label 
                class="stat-label flex-group-left padding-left10 select-attack-skill full-height">
                {{localize "TITAN.skill.label"}}
              </label>

              {{! Skill Selector }}
              <select class="flex-group-right padding-right10 grid-span-3 full-height select-attack-skill"
                data-idx={{key}}>
                {{selectOptions ../skillOptions selected=attack.skill localize=true}}
              </select>

              {{! Damage Label }}
              <label class="stat-label flex-group-left padding-left10 grid-span-2 full-height">{{localize
                "TITAN.damage.label"}}</label>

              {{! Damage Input }}
              <input
                class="flex-group-right padding-right10 grid-span-2 full-height edit-attack-damage"
                type="number"
                value="{{attack.damage}}"
                data-idx={{key}}
                data-dtype="Number"
              />

              {{! Traits Label }}
              <label class="stat-label flex-group-left padding-left10 grid-span-3 full-height">{{localize
                "TITAN.traits.label"}}</label>

              {{! Traits Edit}}
              <a class="fas fa-edit flex-group-right padding-right10 grid-span-1 full-height edit-attack-traits" data-idx={{key}}></a>

              {{! Traits container }}
              {{#if attack.traits.length}}
                <div class="traits grid-span-4">
                  <div class="grid grid-2col">
                    {{#each attack.traits as |trait key|}}
                      <div class="border flex-group-center full-height">
                        {{#if trait.numberValue}}
                          <div>
                            {{localize (concat "TITAN.attack.trait.option." trait.name ".label")}}
                            {{concat "(" trait.numberValue ")"}}
                          </div>
                        {{else}}
                          {{localize (concat "TITAN.attack.trait.option." trait.name ".label")}}
                        {{/if}}
                      </div>
                    {{/each}}
                  </div>
                </div>
              {{/if}}
            </li>
            {{/each}}
          </ul>
        </section>
      </aside>

      {{!-- For the main features list, span the right two columns --}}
      <section class="main sheet-body grid-span-7">
        {{! Sheet Tab Navigation }}
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="description">Description</a>
          <a class="item" data-tab="attribute">Attribute</a>
        </nav>
        {{! Description Tab }}
        <div class="tab" data-group="primary" data-tab="description">
          {{! To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
          rollData prop. }}
          {{editor
          content=data.description
          target="data.description"
          rollData=rollData
          button=true
          owner=owner
          editable=editable
          }}
        </div>

        {{! Attributes Tab }}
        <div class="tab attribute" data-group="primary" data-tab="attribute">
          {{! As you add new fields, add them in here! }}
          <div class="resource">
            <label class="resource-label">Roll Formula</label>
            <input type="text" name="data.formula" value="{{data.formula}}" data-dtype="String" />
          </div>
        </div>
      </section>
    </section>
  </div>
</form>